.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: space-between;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 900;
  background: var(--col-1);
  color: white;
}
