:root {
  --col-1: #EFA00B;
  --col-2: #D65108;
  --col-3: #591F0A;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
}

body {
  background-color: rgb(22, 14, 0);
  color: white;
}

.btn {
  margin: 0 auto;
  font-weight: bolder;
  background: var(--col-2);
  border: 2px solid var(--col-2);
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

.btn:hover {
  background: var(--col-3);  
  border-color:var(--col-3);
  color: #fff;
  cursor: pointer;
}